@media screen and (max-width: 908px) {


    body{
        background: url(../img/fundoLogin.jpg) no-repeat center center fixed;
        background-color: #090909;
        background-position: center;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login form input {
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 5px;
        padding: 0 10px;
        font-family: var(--font-text);
    }
    

}