@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Barriecito&family=Playwrite+GB+S+Guides:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Barriecito&family=Playwrite+GB+S+Guides:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');



/* Definindo as variáveis de fontes */
:root {
    --font-logo: 'Aldrich', sans-serif;
    --font-text: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text)
}

body {
    font-family: var(--font-text);
    background-color: #f5f5f5;
    background: url(../img/perfil.jpg) no-repeat center center fixed;
    background-position: left center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Estilo da navbar e da linguagem */
.lenguage button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    

}



.lenguage button:hover {
    transition: 0.8s;
    scale: 1.05;
}

.lenguage div {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
nav{
    margin-right: 10px;
}
.navbar {
    background-color: #ffffff;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-family: var(--font-text);
    font-weight: normal;
    font-size: 18px;
}

.menu a:hover {
    color: #007BFF;
    transition: 0.5s;
    scale: 1.1;
}
.contentNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lenguage {
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

}
.lenguage p {
    color: #000000;
    font-family: var(--font-text);
    font-weight: bold;
    font-size: 18px;
}

.lenguage a:hover{
    transition: 0.8s;
    scale: 1.1;
}


.lenguage > div > img{
    margin: 0px 0px 0px 20px;
    background-color: #ffffff;
    border-radius: 20%;
}

.lenguage > div > img:hover {
    transition: 0.8s;
    scale: 1.01;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu .list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.hamburguer {
    display: none;
}
.profile form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.profile {
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin-top: 140px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form > h3 {
    margin-bottom: 10px;
    text-align: center;
    font-family: var(--font-text);
    color: #ffffff;
}
.profile button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #007BFF 2px solid;
    background-color: #007bff56;
    border-radius: 20px;
    padding: 10px 0px;
    
}
.profile form input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.profile button:hover {
    transition: 0.8s;
    scale: 1.05;
    background-color: #007BFF;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para o overlay */

input::placeholder {
    color: #000000;
    font-family: var(--font-text);
}




.info p {
    margin-bottom: 20px; /* Aumente o valor conforme necessário */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.info p:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: 0.5s;
    scale: 1.05;
    border-radius: 5px;
}



.save-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="text"], input[type="password"], input[type="email"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

